/*-------------------------------  Start Global Rules ------------------------------- */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
}
img {
  display: block;
  width: 100%;
}
a {
  color: inherit;
}
/*-------------------------------  end Global Rules ------------------------------- */


/*-------------------------------  start Global var ------------------------------- */

:root{
    --font-author:"Caveat", "cursive";
    --font-quote:"Faculty Glyphic", sans-serif;
    --font-title:"Roboto", sans-serif;
    --main-color:#16b6df;
}


.main-color{
  color: var(--main-color);  
}

/*-------------------------------  start Global var ------------------------------- */

/*-------------------------------  start section quote ------------------------------- */


header {
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4) 0% 100%), url(../imgs/desk-3139127_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
header  .quote  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header  .quote .container{
    background-color: rgba(0, 0, 0, 0.7) ;
    border-radius: 10px;
    width: 100%;
    height: 50%;   
    padding: 0;
    overflow: auto;
    position: relative;
   color: #fff;
    
}
header  .quote h1 {
   
    text-align: center;
   font-family: var(--font-title);
   color: #fff;
    position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
  
  padding: 10px;
}
header  .quote h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    opacity: 0.8;
}

header  .quote h1 span{
   margin: 10px;
    
}
header  .quote .container .my-quote{
    margin: 20px 25px;
   
}
header  .quote .container .my-quote .quote-content{ 
    padding: 0px 10px 8px;
    
    font-family: var(--font-quote);
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

header  .quote .container .about{
    padding: 0px 10px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    overflow: auto;
    position: relative;
}
header  .quote .container .about::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    opacity: 0.8;
}


header  .quote .container .about .icon { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.my-icon {
    line-height: 1.6;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%;
    border: 1px #fff solid;
    transition: all 0.3s;
}

.like{
    transition: all 0.3s;
}
.my-icon:hover{
    color: var(--main-color);
}  
.like:hover{
    color: red;
} 
header  .quote .container .about .author .img-author img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}
header  .quote .container .about .author{
    font-family: var(--font-author);
    cursor: pointer;
}
header  .quote .container .about .author h2{
    transition: all 0.3s;
}
header  .quote .container .about .author h2:hover{
    color: var(--main-color);
}
header  .quote .container .btnn .new{
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    width: 150px;
    height: 40px;
    border-radius: 100vh;
    margin-block: 20px;
    word-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
   

}
header  .quote .container .btnn .new:hover{
   color: #fff;
   z-index: 3;
}

.new::before ,
.new::after ,
.hov::before ,
.hov::after 
{
    content: '';
    position: absolute;
    width: 25.5%;
    height: 100%;
    background-color:var(--main-color);
    z-index: -1;
    transition: 0.6s;

}

.new::before{
    top: 0;
    left: -26%;
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
}
.new:hover:before{
    top: 0;
    left: 0;
}
/* ----------- */
.new::after{
    top: 0;
    right: -26%;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
}
.new:hover:after{
    top: 0;
    right: 0%;
}
/* -------- */
.hov::before {
    bottom: -100%;
    left: 25%;
}
.new:hover .hov:before {
    bottom: 0;
    left: 25%;
}
/* ----------------- */
.hov::after {
    top: -100%;
    left: 50%;
}
.new:hover .hov:after {
    top: 0%;
    left: 50%;
}

/*-------------------------------  End section quote ------------------------------- */























@media (max-width: 767.98px) {
    header  .quote .container {
      width: 90%;
    }
}
@media (max-width: 575.98px) {
    header  .quote .container {
      width: 95%;
    }
    .my-icon{
        margin: 4px;
        font-size: 1rem;
        height: 35px;
        width: 35px;
    }
    .header  .quote .container .about .author .img-author img{
        margin-right: 3px;
    }
    header  .quote .container .about .author h2{
        font-size: 1.3rem;
    }
}